.fc-button {
  padding: 6px 14px !important;
  background-color: transparent !important;
  font-size: 12px !important;
  color: #323338 !important;
  border: none !important;
  margin: 0px 5px !important;
}

.dark .fc-button {
  color: white !important;
}

.fc-button:hover {
  background-color: #08c7e0 !important;
  opacity: 0.8;
  color: white !important;
  border-radius: 5px;
}

.fc-button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.fc-button-active {
  background-color: #08c7e0 !important;
  border-radius: 5px !important;
  color: white !important;
}

.fc-toolbar-title {
  font-size: clamp(1rem, 5vw, 1.75rem) !important;
}

.fc-today-button {
  color: black !important;
}

.dark .fc-today-button {
  color: white !important;
}

/* Custom DatePicker styling */

.rdp-day_range_start {
  background-color: #08c7e0;
  opacity: 1 !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: #08c7e0 !important;
}

.rdp-button.aria-selected\:opacity-100[aria-selected="true"] {
  background-color: #08c7e0;
  border-radius: 0px;
}

.rdp-button.day-range-end {
  background-color: #08c7e0;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
